---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from '../components/Navigation.astro';
import Marquee from '../components/Marquee.astro';
import HeroSlider from '../components/HeroSlider.astro';
import SobreExpande from '../components/SobreExpande.astro';
import ProjectTimeline from '../components/ProjectTimeline.astro';
import AtractYLugares from '../components/AtractYLugares.astro';
import Testimonials from '../components/Testimonials.astro';
import Project3D from '../components/Project3D.astro';
import CTACamila from '../components/CTACamila.astro';
import Gallery from '../components/Gallery.astro';
import FAQAccordion from '../components/FAQAccordion.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloatButton from '../components/WhatsAppFloatButton.astro';
---

<BaseLayout>
  <Navigation />
  <Marquee />
  <main>
    <HeroSlider />
    <SobreExpande />
    <ProjectTimeline />
    <AtractYLugares />
    <Testimonials />
    <Project3D />
    <CTACamila />
    <Gallery />
    <FAQAccordion />
  </main>
  <Footer />
  <WhatsAppFloatButton />
</BaseLayout>
